<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />

  </head>
  <body>
    <h1>Check Weather</h1>
    <form>
      <input placeholder="Location" />
      <button>Search</button>
    </form>
    <p style="color: red;" id="error"></p>
  </body>
  <script src="/script/index.js"></script>
</html>